<!DOCTYPE html>
<html>
    <link href = "../static/base.css" rel = "stylesheet" type = "text/css">
    <header>
        {% if title %}
        <title>{{title}}</title>
        {% else %}
        <title>Shifter</title>
        {% endif %}
        
        <nav>
            <h1>Shifter</h1>
            <ul>
                <li><a href="#">Home</a></li>
                {% if title != "Shifter Scheduling Application" %}
                <li><a href="#">My Account</a></li>
                {% endif %}
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                {% if title != "Shifter Scheduling Application" %}
                <li class = "logout">{{formLogout.Logout(class_ = "Logoutbutton")}}</li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    
    {% block content %}
    {% endblock %}
</html>