<!DOCTYPE html>
<html>
    <link href = "../static/base.css?v1.4" rel = "stylesheet" type = "text/css">
    <header>
        {% if title %}
        <title>{{title}}</title>
        {% else %}
        <title>Shifter</title>
        {% endif %}
        
        <nav>
            <h1>Shifter</h1>
            <ul>
                <li><a href="#">Home</a></li>
                {% if title != "Shifter Scheduling Application" %}
                <li><a href="#">Edit Profile</a></li>
                {% endif %}
                <li><a href="about">About</a></li>
                <li class = "contact"><a href="contact">Contact</a></li>
    <ul>
                {% if title != "Shifter Scheduling Application" and title != "Register Organization" %}
                <li class = "logout"><form action = "", method = 'POST'>
                    {{formLogout.Logout(class_ = "Logoutbutton")}}</form>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>

    {% endif %}
    {% endwith %}

{% block content %}
{% endblock %}
   </html>