<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
    <link href = "../static/emphomepage.css" rel = "stylesheet" type = "text/css">
    <body>
        <form action ='' method = 'POST' class = 'dates'>
            <p>{{formchangeweek.previous}}</p>
            <p>{{formchangeweek.thisMonth}}</p>
            <p>{{formchangeweek.nextMonth}}</p>
            <p>{{formchangeweek.startdatebox(value = startdate , readonly="readonly" )}}</p>
            <p>{{formchangeweek.enddatebox(value = enddate ,readonly="readonly")}}</p>
            

        </form>
    </body>
{% endblock %}