<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
    <link href = "../static/resetpassword.css" rel = "stylesheet" type = "text/css">
    <body>
        <div class="container">
            <form action="" method = "POST">
                <p>
                    {{ resetform.question1}} <br>
                </p>
                <p>    
                    {{ resetform.answer1.label}}:
                    {{ resetform.answer1(class_="answer1box") }}<br><br>
                    {% for error in resetform.answer1.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ resetform.question2}} <br>
                </p>
                <p>
                    {{ resetform.answer2.label}}:
                    {{ resetform.answer2(class_="answer2box") }}<br><br>
                    {% for error in resetform.answer2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    <input type="submit">
                </p>
            </form>
        </div>
    </body>
{% endblock %}