<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<link href = "../static/reset.css" rel = "stylesheet" type = "text/css">
<body>
    <div class="container">
        <form action="" method = "POST">
            {{ resetform.hidden_tag() }}

            <p>
                {{ resetform.question1}}:
                <input type="submit">
            </p>

            <p>
                {{ resetform.answer1.label}}:
                {{ resetform.answer1(class_="answer1box") }}<br>
                {% for error in resetform.answer1.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ resetform.question2}}:
                <input type="submit">
            </p>

            <p>
                {{ resetform.answer2.label}}:
                {{ resetform.answer2(class_="answer2box") }}<br>
                {% for error in resetform.answer2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        </form>

    </div>


</body>
{% endblock %}