body {
    background-size:cover;
    margin:0;
    background-color:rgba(194, 194, 194, 0.274);
}
.container {
    width:97.3%;
    height:0%;
    
    padding:5% 0 2% 5%;
    border-radius:20px;
    text-align: left;
}
p{
    text-align: right;
    font-size:1.8vw;
    transition:all 0.5s ease;
}

input[type=text], .question, input[type = password] {
    
    font-size:20px;
    outline:none;
    transition:all 0.5s ease;
    border: 2px solid gray;
    border-radius: 10px;
    width:40%;
    padding:10px 0 10px 0 ;
    align-content: center;  
    margin-right:40%;

}
.error{
    font-size:1.5vw;
    text-align: left;
    margin-left:5%;
}
input[type=text]:focus {
    background-color: #ebe6c0;
    text-align: center;
}
.submitinfo{
    background-color:rgb(61, 3, 3);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:1.5vw;
    padding:20px;
    border-radius: 15px;
    color:gold;
    cursor: pointer;
    margin-left:5%;
}
.submitinfo:hover{
    text-decoration-line: underline;
    font-weight: bolder;
}