h1 {
    align-content: center;  
}

div{
    transition: all 0.5s ease-in;
    background:rgb(131, 112, 112);
    border-radius: 20px;
    margin-top:5%;
    margin-left:10%;
    margin-right:56%;
    padding:80px 40px;
}