
header{
    background-color:rgba(0, 0, 0, 0.212);
    padding:30px;
    border-radius: 0 5px 5px 0;
    margin-bottom:1px;
    color:black;
    font-style: italic;
    

}
nav h1{
    font-family:'Times New Roman', Times, serif;
    display:inline;
    font-size: 60px;
}
nav ul{
    display:inline;
    margin:0;
    
    
}
nav ul li{
    list-style-type: none;
    display:inline-block;
    background:rgb(61, 3, 3);
    border-radius: 15px;
    border-color: white;
    padding: .7% 1.4%;
    font-style: normal;
    font-weight: 800;
}
.logout{
    padding:0;
    margin-left:30px;
}
.Logoutbutton{
    font-family:'Times New Roman', Times, serif;
    text-align:center;
    font-size:25px;
    background-color: black;
    color:rgb(207, 206, 206);
    border-color:white;
    padding: 15%;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
<<<<<<< HEAD
nav a:hover{
=======

nav a{
>>>>>>> e6df8634323b94b719510eea08c75a14cbc9b11d
    color:gold;
    font-size:20px;
    background-color: burlywood;
}

ul li:hover{
    background-color: rgb(158, 157, 157);
    transition :  .9s;
}

.Logoutbutton:hover{
    background-color: rgb(158, 157, 157);
    transition :  .9s;
}
hr{
    border:none;
}

