
body {
    transition: 0.5s ease;
    background-image: url('login1.jpg');
    background-size:100%;
    background-color:rgba(83, 83, 83, 0.116);
    margin:0;
    background-repeat: no-repeat;
    background-position: 0px 129px; /* This makes the image appear 50px from top */

}
div{
    transition: all 0.5s ease-in;
    background:rgb(131, 112, 112);
    border-radius: 20px;
    margin-top:5%;
    margin-left:10%;
    margin-right:56%;
    padding:80px 40px;
}

input.username, input.password{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:2vw;
    border-radius: 15px;
    padding:20px 1px 20px 1px;
    margin-top:-10%;
    width:84%;
    margin-bottom:10%;
    margin-left:8%;
    margin-right:8%;
    
}
.Resetbutton{
    background-color:rgb(61, 3, 3);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:1.5vw;
    padding:20px;
    border-radius: 15px;
    width :54%;
    margin-left :23%;
    margin-right:23%;
    margin-top:0;
    color:gold;
    margin-bottom:-2%;
}
.Login{
    background-color:rgb(61, 3, 3);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:2vw;
    padding:20px;
    border-radius: 15px;
    width :54%;
    margin-left :23%;
    margin-right:23%;
    margin-top:-5%;
    color:gold;
    margin-bottom:5%;

}

.RememberMe{
    Color:White;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3vw;
    margin-top:0;
    margin-left:33%;
}
.RememberMeButton{
    width:1.5vw;
    height:1.5vw;
    margin-top:0;
    margin-bottom: 5%;

}
.RegisterLabel{
    margin-left:8%;
    color:white;
    display: inline;
    font-size:1.2vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;

}
.Register{
    margin-top: 5%;
    margin-left:3%;
    font-size:1vw;
    padding:5px 20px;
    color:maroon;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;

}
input[type=text]:focus {
    background-color: #ebe6c0;
}
.Resetbutton:hover, .Login:hover, .Register:hover{
    cursor: pointer;
    text-decoration-line: underline;
}