body {
    background-image:url("login3.jpg");
    background-size:100%;
    background-repeat: no-repeat;
    margin:0;
    background-color:rgba(194, 194, 194, 0.274);
}

.container {
    width:97.3%;
    height:0%;

    padding:5% 0 2% 5%;
    border-radius:20px;
    text-align: left;
}
p{
    font-size:1.8vw;
    margin-left: 0;
    transition:all 0.5s ease;
}

input[type=text] {

    font-size:20px;
    outline:none;
    transition:all 10s ease;
    border: 2px solid gray;
    border-radius: 10px;
    width:30%;
    padding:10px 0 10px 0 ;
    align-content: center;
}
.firstnamebox, .lastnamebox{
    margin-left:3%;
    margin-right:0;
}
.emailbox{
    margin-left:6.2%;
    margin-right:0;
}
input[type=text]:focus {
    background-color: #ebe6c0;
    text-align: center;
}
/*.submitinfo{
    background-color:rgb(61, 3, 3);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:1.5vw;
    padding:20px;
    border-radius: 15px;
    width :54%;
    margin-left :23%;
    margin-right:23%;
    margin-top:0;
    color:gold;
    margin-bottom:-2%;
    cursor: pointer;
    text-decoration-line: underline;
}*/

.submitinfoB{
    font-family:'Times New Roman', Times, serif;
    padding:10px;
    font-size:2vw;
    margin-right:0;
    cursor:pointer;
}
.submitinfoB:hover{
    background-color: rgb(158, 157, 157);
    color: gold;
    font-size: 20px;
    transition :  .9s;
    padding: .7% 1.4%;
    border-radius: 12px;
}

