<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
    <body>
        <div>
            <form action = "" method = "POST">
                <p>
                    {{ form.first_name.label }} <br>
                    {{ form.first_name(size=32) }} <br>
                    {% for error in form.first_name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.last_name.label }}<br>
                    {{ form.last_name(size=32) }}<br>
                    {% for error in form.last_name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=32) }}<br>
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.phone_number.label }}<br>
                    {{ form.phone_number(size=32) }}<br>
                    {% for error in form.phone_number.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
                <p>Users will login with their email. A user's default password will be their phone number.</p>
            </form>
        </div>
    </body>
{% endblock %}
