<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
    <link href = "../static/addemployee.css" rel = "stylesheet" type = "text/css">
    <body>
        <div class="container">
            <form action = "" method = "POST">
                <p>
                    {{ formEmployee.first_name.label }}<br>
                    {{ formEmployee.first_name(size=32) }}<br>
                    {% for error in formEmployee.first_name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ formEmployee.last_name.label }}<br>
                    {{ formEmployee.last_name(size=32) }}<br>
                    {% for error in formEmployee.last_name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ formEmployee.email.label }}<br>
                    {{ formEmployee.email(size=32) }}<br>
                    {% for error in formEmployee.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ formEmployee.phone_number.label }}<br>
                    {{ formEmployee.phone_number(size=32) }}<br>
                    {% for error in formEmployee.phone_number.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ formEmployee.submit() }}</p>
                <p>Users will login with their email. A user's default password will be their phone number.</p>
            </form>
        </div>
    </body>
{% endblock %}
