<!DOCTYPE html>
<html>
    <link href = "../static/base.css" rel = "stylesheet" type = "text/css">
    <header>
        {% if title %}
        <title>{{title}}</title>
        {% else %}
        <title>Shifter</title>
        {% endif %}   
        <nav>
            <h1>Shifter</h1>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Links</a></li>
                {% if title != "Shifter Scheduling Application" %}
                <li class = "logout">{{formLogout.Logout(class_ = "Logoutbutton")}}</li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    {% block content %}
    {% endblock %}
</html>