<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
    <link href = "../static/choose.css" rel = "stylesheet" type = "text/css">
    <body>
        <div class = "forms">
            <form>
                {{formEditView.View(class_="Buttons") }}<br></form>
            <form>
                {{formEditView.AddEmpl(class_ = "Buttons")}}<br>
            </form>
            <form>
                {{formEditView.EditEmpl(class_="Buttons")}}
            </form>
        </div>
    </body>


{% endblock %}