<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
    <link href = "../static/login.css" rel = "stylesheet" type = "text/css"> 
    
    <body>
        <form action = "" method = "post" class = "login">
                {{formLogin.Username(value = "Username", class_="username")}}<br>
                {{formLogin.Password(value = "Password", class_="password")}}<br>
                {{formLogin.Login(class_ = "Login")}}
                {{formLogin.ResetPassword(class_="Resetbutton", value = "Reset Password")}}<br>

                {{formLogin.RememberMe.label(class_ = "RememberMe")}}
                {{formLogin.RememberMe(class_ = "RememberMeButton")}}
        </form>
    </body>
{% endblock %}
