
body {
    background-image:url("login3.jpg");
    background-size:100%;
    background-repeat: no-repeat;
    margin:0;
    background-color:rgba(194, 194, 194, 0.274);
}

.container {
    width:97.3%;
    height:0%;
    
    padding:5% 0 2% 5%;
    border-radius:20px;
    text-align: left;
}
label{
    font-size:1.8vw;
    margin-left: 0;
    transition:all 0.5s ease;
}

input[type=text] {
    outline:none;
    transition:all 0.5s ease;
    border: 2px solid gray;
    border-radius: 10px;
    width:30%;
    padding:10px 0 10px 0 ;
    align-content: center;  
}
.firstnamebox, .lastnamebox{
    margin-left:3%;
    margin-right:0;
}
.emailbox{
    margin-left:6.2%;
    margin-right:0;
}

input[type=text]:focus {
    background-color: #ebe6c0;
    text-align: center;
}
input[type = submit]{
    font-family:'Times New Roman', Times, serif;
    padding:10px;
    font-size:2vw;
    margin-right:0;
    cursor:pointer;
}
.note{
    font-size:1.5vw;
    font-style: italic;
}
