
body {
    background-image:url("login3.jpg");
    background-size:100%;
    background-repeat: no-repeat;
    margin:0;
}

.container {
    width:97.3%;
    height:100%;
    
    padding:25px;
    border-radius:20px;
    text-align: center;
    background: rgba(131, 112, 112, 0.219);
}

input[type=text] {
    padding: 10px, 20px, 10px;
    border: 2px solid gray;
    width: 40%;
    margin-left: 5px;
}

input[type=text]:focus {
    background-color: #ebe6c0;
}

.Links , .links a{
    text-align: center;
    margin-top: 1%;
    margin-left:0%;
    margin-bottom:0;
    font-size: 1.5vw;
    background-color: rgba(255, 30, 0, 0.041);
    margin-right:0;
    border-radius: 20px;
}
