
header{
    background-color:rgba(0, 0, 0, 0.212);
    padding:30px;
    border-radius: 0 5px 5px 0;
    margin-bottom:1px;
    color:black;
    font-style: italic;
    

}
nav h1{
    font-family:'Times New Roman', Times, serif;
    display:inline;
    font-size: 60px;
}
nav ul{
    display:inline;
    margin:0;
    
    
}
nav ul li{
    list-style-type: none;
    display:inline-block;
    background:rgb(61, 3, 3);
    border-radius: 12px;
    border-color: white;
    padding:.7% 1.4%;
    font-style: normal;
    font-weight: 800;
}
.logout{
    padding:0;
    margin-left:30px;
}
.Logoutbutton{
    font-family:'Times New Roman', Times, serif;
    text-align:center;
    font-size:25px;
    background-color: black;
    color:rgb(207, 206, 206);
    border-color:white;
    padding: 15%;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;


}
nav a{
    color:gold;
    font-size:20px;
}
