
body {
    background-image: url('login1.jpg');
    background-size:100%;
    margin:0;
    background-repeat: no-repeat;
    background-position: 0px 133px;
}
div.forms{
    background:rgb(131, 112, 112);
    border-radius: 20px;
    margin-top:13%;
    margin-left:11%;
    margin-right:56%;
    padding:30px;
}
.Buttons{
    background-color:rgb(61, 3, 3);

    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3vw;
    padding:30px;
    border-radius:15px;
    width:80%;
    margin-left:10%;
    margin-right:10%;
    border-color:White;
    color:gold;
    margin-bottom:2%;
    margin-top:2%;
    
}

