
body {
    transition: 0.5s ease;
    background-image: url('login1.jpg');
    background-size:100%;
    background-color:rgba(83, 83, 83, 0.116);
    margin:0;
    background-repeat: no-repeat;
    background-position: 0px 129px; /* This makes the image appear 50px from top */

}
form.login{
    transition: all 0.5s ease-in;
    background:rgb(131, 112, 112);
    border-radius: 20px;
    margin-top:8%;
    margin-left:9%;
    margin-right:56%;
    padding:80px 40px;
}

form.login input.username, input.password{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:2vw;
    border-radius: 15px;
    padding:20px 1px 20px 1px;
    margin-top:-10%;
    width:84%;
    margin-bottom:10%;
    margin-left:8%;
    margin-right:8%;
    
}
.Resetbutton{
    background-color:rgb(61, 3, 3);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:1.7vw;
    padding:20px;
    border-radius: 15px;
    width :54%;
    margin-left :23%;
    margin-right:23%;
    margin-top:-5%;
    color:gold;
    margin-bottom:5%;
}
.Login{
    background-color:rgb(61, 3, 3);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:2vw;
    padding:20px;
    border-radius: 15px;
    width :54%;
    margin-left :23%;
    margin-right:23%;
    margin-top:-5%;
    color:gold;
    margin-bottom:6%;

}
.RememberMe{
    Color:White;
    font-size: 1.2vw;
    width :50%;
    margin-right:25%;
    margin-left:25%;
}
.RememberMeButton{
    width:25px;
    height:25px;
    margin-left:-20%;
    
}
input[type=text]:focus {
    background-color: #ebe6c0;
}

