<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
    <link href = "../static/About.css?v1.4" rel = "stylesheet" type = "text/css">
    <body>
<div>
    <bold style="text-align: center;"><H1>Shifter</H1></bold>
   <p style="text-align: center;">Created Fall 2019, Software Engineering I</p>
   <p style="text-align: center;">Designed by Ann Luu, Aryan Khadiri, Cindy Xue, Nathaniel Wallace, and Veida Hernandez.</p><br>
    <P style="text-align: center">Shifter is dedicated to providing the best online employee scheduling.</P>
</div>




    </body>
{% endblock %}
