<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
    <link href = "../static/account.css" rel = "stylesheet" type = "text/css">

    <body>
        <div class="container">
            <form action = "" method = "POST">
                    {{ formEmployee.hidden_tag() }}
    
                    <p>
                        {{ formEmployee.first_name.label}}:
                        {{ formEmployee.first_name(class_="firstnamebox", value=firstname) }}<br>
                        {% for error in formEmployee.first_name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ formEmployee.last_name.label }}:
                        {{ formEmployee.last_name(class_="lastnamebox", value=lastname) }}<br>
                        {% for error in formEmployee.last_name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ formEmployee.email.label }}:
                        {{ formEmployee.email(class_="emailbox", value=email) }}<br>
                        {% for error in formEmployee.email.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ formEmployee.phone_number.label }}:
                        {{ formEmployee.phone_number(value=phonenumber) }}<br>
                        {% for error in formEmployee.phone_number.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>{{ formEmployee.submit(class_ = "submitinfo")}}</p>
                </form>
            </div>
    </body>
{% endblock %}